body {
  max-width: 600px;
  font-family: 'Noto Sans';
  margin: 0 auto;
  padding: 5px;
  padding-top: 40px;
}

h1 {
  display: inline;
}

textarea {
  width: calc(100% - 10px);
  min-height: 100px;
  border: none;
  background-color: beige;
  font-family: 'Open Sans';
  padding: 5px;
  height: 200px;
}

select {
  width: 100%;
  border: none;
  height: 5vh;
  margin-top: 5px;
  margin-bottom: 5px;
  background-color: beige;
  font-weight: bold;
  text-align: center;
  text-align-last: center;
}

select {
  -moz-appearance: none;
  -webkit-appearance: none;
}

img {
  display: block;
  margin: 40px auto;
  height: 64px;
  width: 64px;
}